
body {
/*    margin: 5px 1%;*/
    margin:0;
    font-family: helvetica;
    font-size: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
body.err #srcview {
    background: #fdd;
}
body.err #showerr {
    display: block;
}
body.wait {
/*    background: #ddd;*/
    cursor: wait !important;
}
body.wait2 #srcview {
    cursor: wait !important;
    opacity: 0.7 !important;
}
h1 {
    margin: 5px 0;
}
h2 {
    margin: 0;
    font-size: 130%;
/*    background: #ddf;*/
    padding: 2px;
    text-shadow: 0 1px 1px #fff;
    margin-bottom: 2px;
}
#list {
    width: 32%;

    position: fixed;
    top: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: 0.5%;
    padding-right: 0%;
    background: #fff;
}
#srcview {
/*    margin-right: 1%;*/
    width: 67%;
    min-height: 60px;
    background: #ddf;
    margin-left: 32.5%;
    padding: 0.5%;
/*    border-radius: 5px;*/
}
#srcview >a {
    float: right;
    display: inline-block;
    padding: 3px 10px;
    margin-right: 6px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    background: #eef;
    color: #333;
}
#srcview >a.sel, #srcview >a:active {
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.6);
    color: #000;
    background: #fff;
}

ol {
    margin:0;
    margin-bottom:10px;
/*    max-height: 40%;*/
    overflow-y: auto;
    overflow-x: hidden;
}
#list ol {
    padding-left: 32px;
}

a {
    color: #00e;
    text-decoration: none;
}
pre#src {
    overflow-x: auto;
    padding-bottom: 10px;
    white-space: pre-wrap;
/*    border: 1px solid #aaf;*/
    border: 0;
    min-height: 20px;
    margin: 0;
    width: 99%;
    display: -webkit-flex;
}
pre#src code {
    background: #fff;
    font-family: menlo,lucida console,monospace;
    font-size: 12px;
    -webkit-flex: 1;
    margin-left: -6px;
}
#src ol {
    width: 0%;
    color: #66d;
    margin-top: 6px;
    font-size: 12px;
    padding-left: 44px;
}
body.nolinenum #src ol {
    display: none;
}
body.nolinenum pre#src code {
    margin-left: 0;
}

ol > li > a {
    padding: 1px 0;
    display: block;
}
li.sel > a:first-child {
    background: #ddf;
}
li.hi > a {
    background: #ffa;
}
li>p {
    margin:0;
    color: #777;
}
li.inline > a {
    white-space: nowrap;
    color: #000;
}
li.inline > a > span {
    color: #777;
    font-size: 80%;
}

#list a:hover {
    background: #eef !important;
}
li>p>span.cache {
    color: #808;
}

#showerr {
    display: none;
    color: red;

}

#tips {
    margin-top: 30px;
    color: #773;
}
#tips div {
    display: none;
    color: #773;
    padding-bottom: 10px;
}

#tips:hover {
    margin-bottom: 10px;
    background: #ffc;
}

#tips:hover div {
    display: block;
}

#htmllist li>a {
    font-weight: bold;
}

h2 >i {
/*    display: none;*/
    color: #777;
    font-style: normal;
    font-weight: normal;
}

.dynamic {
    color: green;
}

